Q1.Python program to sort the given list of tuple based on integer value

In [21]:
l=[('Sachin Tendulkar',34357),('Ricky Ponting',27483),('Jack Kallis',25534),('Virat kohli',24936)]

In [22]:
sort_l = sorted(l,key = lambda x:x[1])

In [23]:
sort_l

[('Virat kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
l=[1,2,3,4,5,6,7,8,9,10]

In [27]:
def srq(x):
    return x*x

In [28]:
list(map(sqr,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3.Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions.
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [16]:
stR=tuple(map(lambda x:str(x),l))

In [15]:
print(stR)

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

Q4.Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [28]:
l=list(range(1,26))

In [20]:
for i in l:
    print(i)

range(1, 26)

In [24]:
from functools import reduce

In [29]:
reduce(lambda x,y:x*y,l)

15511210043330985984000000

Q5.Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.
[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [38]:
l = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
list(filter(lambda x:x%2==0 and x%3 == 0,l))

[6, 60, 90, 120]

Q6.Write a python program to find palindromes in the given list of strings using lambda and filter
function.
['python', 'php', 'aba', 'radar', 'level']

In [4]:
s = ['python','php','aba','radar','level']

In [14]:
s1=list(filter(lambda x:x==x[::-1],s))

In [15]:
s1

['php', 'aba', 'radar', 'level']